/* Color Palette
#C0DB3D - green
#FFF8F0 - white
#620504 - red
#3E3C3D - med grey
#1C1C21 - dark grey
*/

/* Global */
body {
    background-color: #FFF8F0;
    color: #1C1C21;
    font-size: 20px;
}
a {
    color: #C0DB3D;
}
#homepageImage {
    float: left;
}
.tagLine {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 70px;
    letter-spacing: 3px;
    word-spacing: 10px;
}
.classDetails {
    background: #3E3C3D;
    text-align: center;
    color: #FFF8F0;
    padding: 5px;
    margin: 10px;
    border: 10px solid #C0DB3D;
    position: absolute;
    z-index: -1;
}
.classes p {
    font-size: 25px;

}
.classPhotos {
    width: 33%;
    height: 33%;
    padding: 10px;
}

.box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
#banner {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}
#bannerBorder {
    background-color: black;
    margin: 0;
}
/* Header Footer */
nav {
    background-color:#3E3C3D ;
    padding: 20px;
    margin: 0;
    
}
